section {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
}

#about {
    margin-top: 50px;
    padding-top: 50px;
}

.card {
    max-width: 900px;
}

.bold {
    font-weight: bold;
    color: black;
}

@media (max-width:700px) {
    #education .col {
        flex: 100%;
    }
}