* {
    margin: 0px;
}

ul {
    padding: 0px;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    background-color: #EED8C9;
    position: fixed;
    height: 52px;
    opacity: 0.8;
}

li {
    float: left;
    margin-left: 20px;
    height: 55px;
}

li a {
    margin-top: 0px;
    display: block;
    padding: 15px;
    color: rgb(77, 77, 72);
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
    top: 0;
    left: 0;
}

li a:hover:not(.active) {
    background-color: #E99787;
}

.active {
    background-color: #E99787;
}

.isi {
    margin-left: 150px;
    margin-right: 150px;
}

h1 {
    text-align: center;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 90px;
    font-size: 50px;
    color: rgb(54, 49, 45);
    padding-bottom: 25px;
    padding-bottom: 50px;
}

img {
    margin: auto;
    width: 150px;
    height: 200px;
    display: block;
    float: right;
}

body {
    background-color: #D5C9B1;
}

.foto {
    background-color: #D5C9B1;
    padding-top: 0px;
    margin: auto;
    width: 155px;
    height: 205px;
}

.nama {
    background-color: #D5C9B1;
    color: rgb(54, 49, 45);
    margin: auto;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

table {
    width: 100%;
}

.pend,
.pelt,
.organ {
    background-color: rgb(56, 54, 50);
}

table,
th,
td {
    border: 8px rgb(242, 243, 239);
}

th {
    font-size: 21px;
    padding: 15px;
    text-align: center;
}

td {
    font-size: 19px;
    padding: 15px;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #a49592;
}

table tr:nth-child(odd) {
    background-color: #727077;
    color: rgb(255, 255, 255);
}

table th {
    background-color: rgb(63, 52, 55);
    color: white;
}

p {
    float: right;
}

hr {
    margin-top: 30px;
    margin-bottom: 35px;
    float: left;
    border-color: rgb(161, 120, 120);
    height: 4px;
    width: 100%;
    color: rgb(179, 176, 174);
    background-color: rgb(161, 120, 120);
}
