    section {
        margin: 20px auto;
    }
    
    .section-title {
        margin: 30px auto;
        padding-top: 20px;
    }
    /*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
    
    .navbar .container-fluid {
        margin-top: 0.5%;
        margin-left: 3%;
        margin-bottom: 0.5%;
        margin-right: 3%;
    }
    /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
    
    .jumbotron {
        background-color: white;
    }
    
    .jumbotron .row .col {
        flex: 50%;
        max-width: 50%;
    }
    
    @media (max-width:950px) {
        .jumbotron .row .col {
            flex: 100%;
            max-width: 100%
        }
    }
    /*--------------------------------------------------------------
# Programming Language Section
--------------------------------------------------------------*/
    
    #pl .card {
        flex: 25%;
        max-width: 22%;
        border-radius: 15px;
        margin: 2px 2px;
    }
    
    #pl .card-img-top {
        width: 50%;
        height: 45%;
    }
    
    #pl .card-title {
        text-align: center;
    }
    
    @media (max-width:1000px) {
        #pl .card {
            flex: 50%;
            max-width: 40%;
            margin: 8px auto;
        }
        #pl .card-img-top {
            width: 45%;
            height: 40%;
        }
    }
    
    @media (max-width:700px) {
        #pl .card {
            flex: 100%;
            max-width: 90%;
            margin: 8px auto;
        }
        #pl .card-img-top {
            width: 25%;
            height: 35%;
        }
    }
    /*--------------------------------------------------------------
# Article Section
--------------------------------------------------------------*/
    
    @media (max-width:900px) {
        #article .col {
            flex: 100%;
            max-width: 90%;
            margin: 8px auto;
        }
    }
    /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
    
    footer {
        height: 25vh;
        background-color: #E8E5D8;
    }
    
    footer .footer-title {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    
    footer img {
        margin: 5px;
    }
    
    #gmail {
        width: 40px;
        height: 40px
    }