body {
    background-color: #D5C9B1;
    background-image: url("bgoke.jpg");
    background-size: 1440px 555px;
    background-repeat: no-repeat;
}

* {
    margin: 0px;
}

ul {
    padding: 0px;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    background-color: #EED8C9;
    position: fixed;
    height: 52px;
    opacity: 0.8;
}

li {
    float: left;
    margin-left: 20px;
    height: 55px;
}

li a {
    margin-top: 0px;
    display: block;
    padding: 15px;
    color: rgb(77, 77, 72);
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
    top: 0;
    left: 0;
}

li a:hover:not(.active) {
    background-color: #E99787;
}

.active {
    background-color: #E99787;
}

.tabelawal {
    padding-left: 150px;
    padding-top: 120px;
    padding-right: 200px;
    width: 100%;
}

.tabel1 {
    padding-left: 240px;
    padding-top: 150px;
    align-items: center;
    align-content: center;
    align-self: center;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    padding-bottom: 60px;
}

.tabel2 {
    margin-left: 120px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 80px;
    width: 300px;
    width: 80%;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(245, 242, 239);
    border-collapse: collapse;
}

.tabel3 {
    width: 200px;
    width: 100%;
    padding-top: 150px;
    padding-left: 120px;
    padding-right: 180px;
    margin-bottom: 80px;
    font-family: sans-serif;
}

.headertabel2 {
    border-top: 8px solid rgb(250, 250, 248);
    font-family: sans-serif;
    font-size: 35px;
    padding-bottom: 0px;
}

.SD,
.SMP,
.SMA,
.Kuliah,
.SD1,
.SMP1,
.SMA1,
.Kuliah1,
.tahun1,
.tahun2,
.tahun3,
.tahun4 {
    width: 100px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 15px;
    border-right: 20px solid #D5C9B1;
    border-left: 20px solid #D5C9B1;
    border-top: 20px solid #D5C9B1;
    background-color: rgb(6, 19, 46);
    padding-top: 60px;
    padding-bottom: 0px;
    text-align: center;
}

.tahun1,
.tahun2,
.tahun3,
.tahun4 {
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 35px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.SD1,
.SMP1,
.SMA1,
.Kuliah1 {
    font-size: 17px;
    border-top: transparent;
    padding-top: 0px;
    padding-bottom: 40px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.isitabel2 {
    border-bottom: 8px solid rgb(241, 220, 195);
}

.DataPrib {
    width: 280px;
    background-color: rgb(54, 50, 43);
    color: whitesmoke;
    padding-right: 35px;
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px;
}

.gambar {
    width: 300px;
    height: 300px;
    float: right;
    border-radius: 50%;
    border: 3px solid whitesmoke;
}

.nl,
.np,
.ttl,
.alamat,
.hobby {
    padding-top: 30px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.nl,
.Np,
.Nl,
.np,
.ttl,
.TTL,
.alamat,
.Alamat,
.Hobby,
.hobby {
    color: rgb(58, 53, 46);
    padding-left: 140px;
}

.plt {
    font-family: sans-serif;
    width: 15px;
    background-color: rgb(58, 53, 46);
    font-size: 30px;
    padding-right: 80px;
    padding-left: 90px;
    color: whitesmoke;
}

.pw,
.pw2 {
    width: 500px;
    font-family: sans-serif;
    padding-right: 180px;
    padding-bottom: 15px;
    text-align: right;
    font-weight: bold;
    font-size: 23px;
}

.pw1,
.pw3 {
    width: 500px;
    padding-right: 180px;
    padding-bottom: 30px;
    font-family: sans-serif;
    text-align: right;
    font-size: 17px;
}

.tulisan {
    color: white;
    padding-right: 80px;
    text-align: center;
    font-size: 55px;
    font-family: 'Tangerine', cursive;
}

.pnd,
.skill,
h3 {
    text-decoration:underline;
    text-align: center;
    padding-top: 150px;
    font-family: 'Pacifico';
    font-weight: bold;
    font-size: 43px;
    color: rgb(54, 45, 36);
}

.job {
    font-family: Pacifico;
    font-size: 30px;
    padding-top: 150px;
    text-align: center;
}

.tabel4 {
    margin-top: 50px;
    margin-left: 270px;
    margin-bottom: 50px;
}

.tabel5 {
    margin-left: 270px;
    margin-top: 50px;
}

.photography {
    padding-right: 180px;
    text-align: center;
    font-family: 'Pacifico';
    font-weight: bold;
    font-size: 30px;
    color: rgb(54, 45, 36);
}

.english {
    padding-right: 80px;
    text-align: center;
    font-family: 'Pacifico';
    font-weight: bold;
    font-size: 30px;
    color: rgb(54, 45, 36);
}

.isiPhoto {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.english1 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.tabel6 {
    margin-left: 515px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.email,
.ig,
.line {
    padding-right: 70px;
    text-align: left;
}
