body {
    background-color: rgb(241, 220, 195);
    background-image: url("bgfix.jpg");
    background-size: 1500px 555px;
    background-repeat: no-repeat;
    padding-right: 20px;
}

* {
    margin: 0px;
}

ul {
    padding: 0px;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(34, 33, 32);
    position: fixed;
    height: 55px;
}

li {
    float: left;
    margin-left: 20px;
}

li a {
    margin-top: 0px;
    display: block;
    padding: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
    top: 0;
    left: 0;
}

li a:hover:not(.active) {
    background-color: rgb(53, 53, 52);
}

.active {
    background-color: rgb(105, 78, 53);
}

.gambar {
    margin-top: 120px;
    margin-left: 550px;
    margin-right: 300px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid whitesmoke;
}

.welcome {
    text-align: center;
    padding-top: 150px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 43px;
    color: rgb(54, 45, 36);
}

.task1,
.task2 {
    text-align: center;
    font-size: 20px;
}