body {
    background-color: #D5C9B1;
    background-image: url("bgoke.jpg");
    background-size: 1440px 555px;
    background-repeat: no-repeat;
}

* {
    margin: 0px;
}

ul {
    padding: 0px;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    background-color: #EED8C9;
    position: fixed;
    height: 52px;
    opacity: 0.8;
}

li {
    float: left;
    margin-left: 20px;
    height: 55px;
}

li a {
    margin-top: 0px;
    display: block;
    padding: 15px;
    color: rgb(77, 77, 72);
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
    top: 0;
    left: 0;
}

li a:hover:not(.active) {
    background-color: #E99787;
}

.active {
    background-color: #E99787;
}

.gambar {
    margin-top: 150px;
    margin-left: 600px;
    margin-right: 500px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 3px solid rgb(214, 198, 182);
}

.welcome {
    text-align: center;
    padding-top: 150px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 34px;
    color: rgb(90, 79, 68);
}

.teks {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(90, 79, 68);
}

.task1,
.task2, .task3{
    text-align: center;
    font-size: 17px;
}

.task3 {
    padding-bottom: 30px;
}
